<ion-view view-title="Login" name="login-view">
    <ion-content class="padding"  style="margin-top: 5em;">
        <div class="logocontainer"></div>
        <form name="loginFrm">
            <div class="card" ng-show="onError">
               <div class="item item-text-wrap card-assertive">
                  {{message}}
               </div>
            </div>
            <div class="list list-inset">
                <div class="glyphicon customicon icon-fullname input-group-addon" id="basic-addon1"></div>
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/user.png"></span>
                    <input type="text" ng-model="user.username" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1" required>
                   
                </label>
                <p ng-show="loginFrm.username.$invalid && !loginFrm.username.$pristine" autocomplete="off" class="help-block red-text">Please enter username</p>
                <br>
                <div class="glyphicon customicon icon-password input-group-addon" id="basic-addon1"></div>
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/key.png"></span>
                    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" required>
                    
                </label>
                <p ng-show="loginFrm.password.$invalid && !loginFrm.password.$pristine" autocomplete="off" class="help-block red-text">Please enter password</p>
                <br>
                <ion-checkbox ng-model="checkbox">Remember me</ion-checkbox>
                </div>
            <button ng-disabled="loginFrm.$invalid" class="button button-block button-calm btn btn-primary btn-lg btn-block" ng-click="login()">LOGIN</button>
        </form>
    </ion-content>
    <loader></loader>
</ion-view>
