<ion-view view-title="Rate" name="login-view">
    <ion-content class="padding">
        <div class="logocontainer"></div>
        <form name="loginFrm">
            <div class="card" ng-show="onSuccess">
               <div class="item item-text-wrap card-balanced" >
                  {{message}}
               </div>
            </div>
            <div class="card" ng-show="onError">
               <div class="item item-text-wrap card-assertive" >
                  {{message}}
               </div>
            </div>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/user.png"></span>
                    <input type="text" ng-model="RatingDetails.CustomerMaster.CustomerName" name="username" class="form-control" placeholder="Full Name" aria-describedby="basic-addon1" required>
                </label>
                <p ng-show="loginFrm.username.$invalid && !loginFrm.username.$pristine" autocomplete="off" class="help-block red-text">Please enter full name</p>
                <br>
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/location-mark.png"></span>
                    <input type="text" ng-model="RatingDetails.CustomerMaster.Postcode" name="postcode" class="form-control" placeholder="Post Code" aria-describedby="basic-addon1" required>
                    <ion-icon item-right></ion-icon>
                </label>
                <p ng-show="loginFrm.postcode.$invalid && !loginFrm.postcode.$pristine" autocomplete="off" class="help-block red-text">Please enter post code</p>
                <br>
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/upload.png"></span>
                    <input type="file" ng-model="RatingDetails.uploadfile" name="file" class="form-control" style="display: none;" placeholder="Post Code" aria-describedby="basic-addon1" accept="image/*" id="capture" capture="camera" onchange="angular.element(this).scope().setImageUrl()" multiple>
                    <span class="camera-icon file-1"><i class="ion-android-camera"></i></span><span class="camera-icon file-2"><i class="ion-android-camera"></i></span><span class="camera-icon file-3"><i class="ion-android-camera"></i></span><span class="add-file-icon"><i class="ion-plus-circled"></i></span>
                </label>
                <p ng-show="ImageError" autocomplete="off" class="help-block red-text">{{ImageErrorMsg}}</p>
                <br>
                <label class="item item-input">
                    <span class="input-label"><img src="img/1x/edit.png"></span>
                    <textarea style="resize: none;" class="form-control" placeholder="Tell us about your experiance" ng-model="RatingDetails.Feedback" required></textarea>
                </label>
                <p ng-show="loginFrm.file.$invalid && !loginFrm.file.$pristine" autocomplete="off" class="help-block red-text">Please enter your experiance</p>
                <br>
                <label>
                    <span class="input-label" style="float: left;"><img src="img/1x/rating-thumb.png" style="height: 40px"></span>
                </label>
                <rating ng-model="data.rating" max="data.max" ></rating>
            </div>
            <button ng-disabled="loginFrm.$invalid || ImageError" type="submit" ng-click="rate()" class="button button-block button-calm btn btn-primary btn-lg btn-block" ng-click="rate()">SUBMIT</button>
        </form>
        
    </ion-content>
    <loader></loader>
    
</ion-view>
