/* Empty. Add your own CSS if you like */

body {
    background-color: #ffffff;
}

.userlogin {
    float: none;
    margin: 3% auto 0 auto;
}

.logocontainer {
    background: url(images/1x/logo.png) no-repeat 100% 100%;
    width: 130px;
    height: 130px;
    margin: auto auto 30px auto;
}
.input-group{
	width: 100%;
}
.input-group-addon {
    background-color: #1c4874 !important;
    width: 20% !important;
}

.glyphicon.input-group-addon {
    top: 0;
    color: #ffffff;
}

.btn.btn-primary,.btn-primary:active {
    background-color: #ff6600 !important;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 1px #CCCCCC;
    text-shadow: 0px 1px 6px rgba(241, 96, 0, 1);
}

.buttonholder {
    margin: 9px auto;
}

.customicon {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 39px;
}

.icon-user {
    background-image: url(images/1x/logo.png);
}

.icon-password {
    background-image: url(images/1x/key.png);
}

.icon-fullname {
    background-image: url(images/1x/user.png);
}

.icon-postalcode {
    background-image: url(images/1x/location-mark.png);
}

.icon-upload {
    background-image: url(images/1x/upload.png);
}

.icon-desc {
    background-image: url(images/1x/edit.png);
}

.icon-rating{
    
}
.rating-icon {
    background: url(images/1x/edit.png) no-repeat 100% 100%;
    height: 51px
}
.red-text{
    color: red !important;
}
.form-control{
    padding: 0 10px !important;
}


.input-label {
    width: 16%;
    background-color: #1c4874;
    text-align: center;
}
.input-label img {
    height: 25px;
}
.item-input{
    padding: 0px 0 0px 0;
}
.camera-icon i.ion-android-camera {
    font-size: 30px;
    margin: 0 16px;
    color: #828181;
}
.img-preview{
    margin: 0 16px !important;
    padding: 4px 0 0 0;
}
.add-file-icon{
    position: absolute;
    right: 1em;
}
.add-file-icon .ion-plus-circled{
    font-size: 30px;
}
.camera-icon img {
    margin: 0 0%;
}
/*Rating*/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
 /* padding: 5px 10px;*/
}
ul.rating li i {
  font-size: 30px;
}
.card-assertive{
    background-color: #ef473a;
    color: #fff;
    text-align: center;
}
.card-balanced{
    background-color: #33cd5f;
    color: #fff;
    text-align: center;
}
.loader {
    position: absolute;
    background: rgba(78, 77, 77, 0.2);
    width: 100%;
    height: 100%;
}
.loaderContainer {
    position: relative;
    left: 40%;
    top: 40%;
}
.spinner svg {
  width: 20%;
  height: 20%;
  stroke: rgb(230, 127, 58)
}